*{
  box-sizing: border-box;
}
.content{
    display: flex; flex-direction: row;
}
.navBar{
    width: 14%;background-color: whitesmoke;border-radius: 5px;padding: 2%; height: max-content;
}
.tileContainer{
    width: 84%;margin-left: 2%;
}
.flexContainer{
    display: flex; flex-wrap: wrap;
}

.colorBlue {
    color: mediumblue;
}
@media (max-width: 800px) {
    .content {
      flex-direction: column;
    }
    .navBar{
        width: 100%;
        flex-direction: column;
    }
    .tileContainer{
        width: 100%;
    }
  }
  @media  (max-width: 1024px) and (min-width: 700px) {
    .navBar{
      width: 20%;
  }
  }
  