
<div class="tile" *ngFor="let mission of data; let i=index;">
    <div>
        <div style="background-color: lightgray;">
            <img src={{mission.links.mission_patch_small}} alt="image" width="100" height="100" class="imgCenter">
        </div>
        <p class="colorBlue"><b>{{mission.mission_name}} #{{mission.flight_number}}</b></p>
        <p><b>Mission Ids:</b> <span class="colorBlue"> {{mission.flight_number}}</span></p>
        <p><b>Launch year:</b> <span class="colorBlue"> {{mission.launch_year}}</span></p>
        <p><b>Successfull Launch:</b><span class="colorBlue"> {{mission.launch_success}}</span></p>
        <p><b>Successfull Landing:</b>
            <span class="colorBlue"> {{mission.successfullLanding}}</span>
        </p>
    </div>
</div>
