/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    background-color: lightgray;
     min-height: 100%;
    margin: 0;
    overflow: auto;
  }
.marginRight{
  margin-right: 1%;
}
.marginLeft{
  margin-left: 1%;
}